<h1>Editing lunches</h1>

<% form_for(@lunches) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :restaurant_id %><br />
    <%= f.text_field :restaurant_id %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @lunches %> |
<%= link_to 'Back', lunches_path %>
