<p>
  <b>Restaurant:</b>
  <%=h @vote.restaurant_id %>
</p>

<p>
  <b>User:</b>
  <%=h @vote.user_id %>
</p>

<p>
  <b>Comments:</b>
  <%=h @vote.comments %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
